name: build for linux

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.png'
      - '.gitignore'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.png'
      - '.gitignore'
      - 'LICENSE'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: build
      run: cargo build --release --verbose

    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: anijouhou
        path: target/release/anijouhou
